.react-multi-carousel-list {
    opacity: 0.5;
    position: relative;
}

.popular-places {
    top: 200px;
    position: absolute;
    background-color: unset;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .popular-places {
        top: 80px;
    }

    .react-multi-carousel-list img {
        height: 400px !important;
    }

}

@media only screen and (max-width: 767px) {
    .popular-places {
        top: 90px;
    }

    .react-multi-carousel-list img {
        height: 500px !important;
    }
}